<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head :: headTag" >

</head>
<body>

	<div th:include="fragments/header" ></div>
	
	<div id="members" class="container page">
	
		<h1>Members</h1>
		<table id="members-table"
			class="table  table-condensed  table-striped ">
			<thead>
				<tr>
					<td>Name</td>
					<td>Appearances</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member : ${members}" >
					<td th:text="${ member.firstname } + ' ' + ${ member.surname }">Robin Tegg</td>
					<td th:text="${ member.appearances.size() }">9</td>
				</tr>
			</tbody>
		</table>
	
	</div>

</body>
</html>