<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head :: headTag" >

</head>
<body>

	<div th:include="fragments/header" ></div>
	
	<div id="tournaments" class="container page">

		<h1>Tournaments</h1>
		<table id="tournaments-table" class="table">
			<thead>
				<tr>
					<td>Date</td>
					<td>Venue</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tournament : ${tournaments}">
					<td th:text="${ tournament.date }">2011</td>
					<td th:text="${ tournament.venue.name }">Woodstock</td>
					<td><a class="btn btn-primary " href="tournament.html"
						th:href="@{tournament.html} + '?tournament=' + ${ tournament.id }">View The Results <i
							class="icon-circle-arrow-right icon-white"></i></a></td>
				</tr>
			</tbody>
		</table>

	</div>
	<!-- /container -->
	
</body>
</html>